.element{
  margin-bottom: 20px;
  margin-right: 20px;

}
.element2{
}
.full{

  margin-bottom: 5px;
  width: 100%;
}
.create {
  margin-top: 20px;
  margin-bottom: 20px;
}
mat-dialog-content{
  margin-right: auto;
  margin-left: auto;
}
mat-form-field{
  width: 200px;

}

.mat-dialog-title{
  font-family: DejaVu Sans Mono, monospace;
}

.container{
  margin-top:20pxy;
}
