<button mat-mini-fab mat-raised-button class="close-button" [mat-dialog-close]="true">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-title>


  <div class="container">
    <h1 class="title"> Usuń Rezerwację</h1>
    <p>Czy na pewno chcesz usunąć rezerwację nr.
      {{data.id}} ? </p>

    <ul class="list-group ">
      <li class="list-group-item">Data wypożyczenia: <span
        class="property"> {{data.rentalDate  | date}}</span></li>
      <li class="list-group-item">Data zwrotu: <span class="property">{{data.returnDate | date}}</span></li>

    </ul>


    <div class="action">
      <div class="row">
        <div class="col ">
          <button type="button" class="btn btn-success button pull-left" (click)="onRemove()">Tak</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-danger button pull-right" (click)="dialogRef.close()">Nie</button>
        </div>
      </div>
    </div>


  </div>


