<button mat-mini-fab mat-raised-button class="close-button" [mat-dialog-close]="true">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-title>


  <div class="container">
    <h1 class="title"> Usuń Rezerwację</h1>
    <p>Czy na pewno chcesz usunąć rezerwację nr.
      {{data.id}} ? </p>

    <ul class="list-group ">
      <li class="list-group-item">Imię: <span class="property">{{data.customer.customerName}}</span></li>
      <li class="list-group-item">Nazwisko: <span class="property">{{data.customer.customerSurname}}</span></li>
      <li class="list-group-item">Marka: <span class="property">{{data.car.carMarkModel.mark}}</span></li>
      <li class="list-group-item">Model: <span class="property">{{data.car.carMarkModel.model}}</span></li>
      <li class="list-group-item">Data wypożyczenia: <span
        class="property"> {{data.rentalDate  | date}}</span></li>
      <li class="list-group-item">Data zwrotu: <span class="property">{{data.returnDate | date}}</span></li>
      <li class="list-group-item">Suma kosztów: <span class="property">{{data.rentalCost}} zł</span></li>
      <li class="list-group-item">Status: <span class="property">{{data.status}}</span></li>


    </ul>


    <div class="action">

          <button type="button" class="btn btn-success button" (click)="onRemove()">Tak</button>

          <button type="button" class="btn btn-danger button " (click)="dialogRef.close()">Nie</button>

    </div>


  </div>

</div>
