<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <i class="fa fa-camera-retro brand-icon" ></i>


  <a class="navbar-brand" href="/gallery">GalleryApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="/gallery"> <i class="fa fa-image icon"></i> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/upload-image"><i class="fa fa-upload icon"></i></a>
      </li>
    </ul>

    <a class="nav-link"  href="/logout">

     test
    </a>


  </div>
</nav>
