
.sticky-top{
  z-index: 1;
}
button{
  outline: 0;
}

.navbar-logo{
  height: 120px;
background-image: url("./../../assets/banner.jpg");
  background-size: cover;
  background-position: bottom ;
  background-repeat: no-repeat;
}
.nav-link{
  padding: 0;
  margin-left: 20px;

}
.navbar{
  margin-bottom: 40px;
}
