
.sticky-top{
  z-index: 1;
}
button{
  outline: 0;
}

.navbar-logo{
  height:90px;
background-image: url("./../../assets/banner4.png");
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
}
.nav-link{
  padding: 0;
  margin-left: 20px;

}

.icon{
  font-size: 18px;
  color: #07e3c9;
}
.icon2{
  font-size: 18px;
  color: darkgray;
}
.icon3{
  font-size: 18px;
  color: #2a3cea;
}
.iconLogout{
  font-size: 22px;
  color: #000a2d;
}
.navbar-brand{
  letter-spacing: 4px;
}
