<button mat-mini-fab mat-raised-button class="close-button" [mat-dialog-close]="true">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-title>
  <h1 class="title"> Nowa rezerwacja</h1>


</div>
<div mat-dialog-content>
  <form #customerForm="ngForm" (ngSubmit)="customerForm.form.valid && onSubmit(rental) " class="example-form">
    <mat-form-field  *ngIf="!data"class="element">
      <mat-label>Samochód</mat-label>
      <mat-select (ngModelChange)="onChangeCar($event)"  [(ngModel)]="car" name="isAvailable" required="true">
        <mat-option    *ngFor="let car of cars" [value]="car">
          <img [src]="car.imagePath" width="50px" height="30px">
          {{car.carMarkModel.mark}}
          {{car.carMarkModel.model}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  *ngIf="data"class="element">
      <mat-label>Samochód</mat-label>
      <mat-select [(ngModel)]="data" name="isAvailable" required="true">
        <mat-option  [value]="data">
          <img [src]="data.imagePath" width="50px" height="30px">
          {{data.carMarkModel.mark}}
          {{data.carMarkModel.model}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="element2">
      <mat-label>Klient</mat-label>
      <mat-select [(ngModel)]="customer" name="className" required="true">
        <mat-option *ngFor="let customer of customers" [value]="customer">
          {{customer.customerName}}
          {{customer.customerSurname}}
          ({{customer.driverLicenseNumber}})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="element" >
      <mat-label>Okres wypożczyenia</mat-label>
      <mat-date-range-input [rangePicker]="picker" [dateFilter]="rangeFilter">
        <input (dateChange)="getRentalCost()" [(ngModel)]="rental.rentalDate" matStartDate placeholder="Start date" name="dateOfProduction">
        <input (dateChange)="getRentalCost()" [(ngModel)]="rental.returnDate" matEndDate placeholder="End date" name="dateOfProduction">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field class="element">
      <mat-label>Koszt wynajmu</mat-label>
      <input matInput [(ngModel)]="rental.rentalCost" disabled name="rentalCost" required="true">
      <span matSuffix>zł</span>
    </mat-form-field>

    <mat-form-field  *ngIf="!data" class="element">
      <mat-label>Kaucja</mat-label>
      <input matInput [(ngModel)]="car.carMarkModel.carClass.deposit" disabled name="rentalDeposit" required="true">
      <span matSuffix>zł</span>
    </mat-form-field>

    <mat-form-field  *ngIf="data" class="element">
      <mat-label>Kaucja</mat-label>
      <input matInput [(ngModel)]="data.carMarkModel.carClass.deposit" disabled name="rentalDeposit" required="true">
      <span matSuffix>zł</span>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="create" (click)="onSubmit(rental)" [disabled]="!customerForm.form.valid">

    Zapisz

  </button>
</div>


