
button {
  outline: 0;

  .mat-icon {
    color: black;
  }
}


table {
  width: 100%;


  img {
    margin-right: 10px;
    width: 90px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
    outline: 0;
  }

  .mat-row:hover {
    background-color: aliceblue;

  }

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 12.5%;
  cursor: pointer;
  outline: 0;


}


@media screen and (max-width: 720px) {

  .mat-row:hover {
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

  }

  table .mat-row {
    border-bottom: 7px solid #ddd !important;

  }

  table th {

    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }


  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 20px;
    width: 100%;
    padding: 7% 24px;
  }
  .imageTd {
    margin-bottom: 40px !important;
    border: none !important;
    text-align: center !important;

    img {
      width: 110px;
      height: 80px;
    }
  }
  .buttonTd {
    padding: 0 !important;
    margin-bottom: 20px !important;
    margin-top: 5px !important;
    text-align: center !important;

    button {
      width: 50%;

    }
  }
  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: .85em;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table .td:first-child {
    margin-top: 2%;
  }
}

.diod {
  font-size: 10px;
  text-align: right;
}
.container{
  padding-top: 140px;
}
.mat-stroked-button{
  border: none;
}
