
.button{
  margin-right: 30px;
  width: 70px;
}
.action{
  margin-top: 20px;

  text-align: center;
}
.image{
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  img{
    width: 70%;
  }
}
