.element{
  margin-right: 15px;
  margin-bottom: 20px;
}
.full{
  margin-right: 15px;
  margin-bottom: 20px;
  width: 100%;
}
.create {
  background-color: rgba(6, 1, 255, 0.7);
  color: white;
  margin-bottom: 20px;
}
