
button{
  outline: 0;

  .mat-icon{
    color: black;
  }
}


table {
  width: 100%;



  img {
    margin-right: 10px;
    width: 90px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
    outline: 0;
  }

  .mat-row:hover {
    background-color: aliceblue;

  }

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 12.5%;
  cursor: pointer;
  outline: 0;


}

nav {


  margin: 0 auto;
  padding: 60px 0 0 0;

  ul {
    margin: 0;
    padding: 2px;
    text-align: left;

    li {
      display: inline-block;

      .add {
        text-align: right;
        margin-right: 10px;
      }

      a {
        cursor: pointer;
        padding: 14px;
       // font-family: "Open Sans";
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.7);

        font-size: 14px;
        text-decoration: none;
        display: block;
      }

      a:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
        background: rgba(255, 255, 255, 0.1);
        color: rgba(0, 0, 0, 1);
      }
    }

  }


}

.navbar {
  padding: 2px;
  margin-top: 50px;
  margin-bottom: 30px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}





