.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

}
button{
  margin-top: 50px;
  font-size: 80%;
  border-radius: 15px;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 0.8rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.1);

}
input{
  height: auto;
  border-radius: 2rem;
  padding: 0.5rem;
  margin-bottom: 30px;
}
.card-signin .card-title {
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 1.8rem;
}

.card-signin .card-body {
  padding: 2rem;

}


.container{
  padding-top: 120px;
}


.btn-primary{
  background: linear-gradient(90deg, rgba(0,24,48,1) 0%, rgba(21,0,70,1) 62%, rgba(13,0,80,1) 100%);
  border-color: rgb(0,24,48);

}
.btn-primary:hover{
  background: linear-gradient(90deg, rgb(0, 42, 86) 0%, rgb(39, 0, 129) 62%, rgb(26, 1, 191) 100%);
  border-color: rgb(0,24,48);

}


