.mat-sidenav-container{
  height: 100%;
  background-color: #ffffff;


}
button{
  outline: 0;
}
.sticky-top{
  position: fixed;

  width: 100%;
}
.mat-drawer-side{

}
::ng-deep snack-bar-container simple-snack-bar .mat-simple-snackbar-action {
  color: white!important;
}

::ng-deep snack-bar-container simple-snack-bar {
  background-color: rgb(0,24,48);
}
::ng-deep snack-bar-container {
  background-color: rgb(0,24,48)!important;
  color: white!important;
}
