
  .mat-card {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    .mat-card-content{
      margin-top: 20px;
    }
    .mat-card-image {
      width: 40%;

    }


}

.mat-card-avatar-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

  .mat-dialog-container{
    padding: 0!important;
  }

.card{
  text-align: left!important;
}
  .list-group-item{
    width: 100%;
    text-align: left;

  }
  .property{
    font-weight: 500;
    font-size: 15px;
    margin-left: 5px;
  }

  .diod {
    font-size: 10px;
    text-align: left;
  }
