<div *ngIf="car" class="container">
  <mat-card >
    <mat-card-header>
      <div mat-card-avatar><img class="mat-card-avatar-img" [src]=car.imagePath></div>
      <mat-card-title>{{car.carMarkModel.mark}}</mat-card-title>
      <mat-card-subtitle>{{car.carMarkModel.model}}</mat-card-subtitle>
      <span >
            <mat-icon [ngStyle]="{'color':car.isAvailable === false ? 'red' : 'rgb(0, 247, 0)'}"  class="diod">fiber_manual_record</mat-icon>
        </span>
    </mat-card-header>
    <img mat-card-image [src]=car.imagePath>
    <mat-card-content>


      <ul class="list-group list-group-horizontal-md">
        <li class="list-group-item">Numer vin: <span class="property"> {{car.vin}}</span></li>
        <li class="list-group-item">Marka: <span class="property">{{car.carMarkModel.mark}}</span></li>
        <li class="list-group-item">Model: <span class="property">{{car.carMarkModel.model}}</span></li>

      </ul>
      <ul class="list-group list-group-horizontal-md">
        <li class="list-group-item">Numer rejestracyjny: <span class="property">{{car.registrationNumber}}</span></li>
        <li class="list-group-item">Kolor: <span class="property">{{car.color}}</span></li>
        <li class="list-group-item">Przebieg: <span class="property">{{car.mileage}} km</span></li>

      </ul>
      <ul class="list-group list-group-horizontal-md">
        <li class="list-group-item">Data produkcji: <span class="property">{{car.dateOfProduction}}</span></li>
        <li class="list-group-item">Przegląd: <span class="property">{{car.review}}</span></li>
        <li class="list-group-item">Pojemność silnika: <span class="property">{{car.engineCapacity}} cm3</span></li>

      </ul>
      <ul class="list-group list-group-horizontal-md">

        <li *ngIf="car.isAvailable == true" class="list-group-item">Dostępność: <span class="property">Dostępny</span></li>
        <li *ngIf="car.isAvailable == false" class="list-group-item">Dostępność: <span class="property">Niedostępny</span></li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button  (click)="reserve(car)" mat-button>Utwórz rezerwację</button>
    </mat-card-actions>
  </mat-card>

</div>


