.element{
  margin-bottom: 2px;
  margin-right: 20px;

}

.full{

  width: 100%;
}

mat-dialog-content{
  margin-right: auto;
  margin-left: auto;
}
mat-form-field{
  width: 200px;

}

.mat-dialog-title{
  font-family: DejaVu Sans Mono, monospace;
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-33px;
  right:-33px;
  background-color: white;
  color: black;
  outline: 0;

}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}
.image{
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  img{
    width: 40%;
  }
}
@media screen and (max-width: 720px) {

  .element{
    margin-bottom: 0px;


  }
  .mat-dialog-container{
    height: 300px!important;
  }
}
