.icon{
  color: black;
  vertical-align: middle;
}
.user{
  font-size: 12px;
  color:black;


}
.toolbar-avatar{
  margin-left:10px;
  background-position: center;
  background-size: cover;

}
img {

  width: 80px;
  height: 70px;
  object-fit: contain;
  cursor: pointer;
  outline: 0;
}

.dioda{
  font-size: 10px;
  color: rgb(0, 247, 0);

}

.info{
  height: 70px;
  padding-top: 20px;
}

.listContainer{
  margin: 50px 0 0;
  padding: 0;

  li{
    list-style-type: none;
    margin-bottom: 15px;
    .nav-link{
      padding: 0;
    }
    button{
      color: black;
      outline: 0;
      width: 250px;
      height: 40px;
      text-align:left ;

      border: none;
      padding-left: 20px;
      padding-right: 20px;
      .nav-caption{
        margin-left: 20px;
        font-size: 15px;
      }
    }
  }
}
.container{
  height: 100%;

}
.logout{
  position: absolute;
  bottom: 0;
  margin-bottom: 30px!important;
}
@media screen and (max-width: 960px) {

  button{

    width: 100%!important;


    }
}
