
  .mat-card {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;

    .mat-card-image {
      width: 50%;

    }


}

.mat-card-avatar-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
